@font-face {
    font-family: GFS_Didot;
    src: url(../GFS_Didot/GFSDidot-Regular.ttf);
}


* {
    box-sizing: border-box;
  }
  p{
    margin: 0;
  }
  :root{
    --font-Regular: GFS_Didot;
    --black: #191414;
    --green:#1DB954;
    --gray: #f3f4f6;
    --cherry: #990011ff;
    
}
html,body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: var(--font-Regular);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}


body{
    display: grid;
    font-family: var(--font-Regular);
}
/* Header */ 
.name{
    font-size: 52px;
}
.header{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    gap: 0.6rem;
    font-family: var(--font-Regular);
    font-weight: bold;
    align-items: center;
    padding: 0.5rem;
    background-color: #e5e5f7;
}
 /* Content */
 .home{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 2fr 2fr 1fr ;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0.4rem;
    gap: 0.2rem;
    min-height: 100vh;
 }
 .menuDiv{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 28px;
    padding: 1rem;
    border: #191414 2px solid;
    border-radius: 4px;
    box-shadow: 3px 4px var(--black);
    margin: 1rem;
    font-family: var(--font-Regular);
 }

 h3:hover{
    color: #1DB954;
 }

 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .icon{
    max-width:48px;
    max-height:42px;
    object-Fit:cover;
 }



 
/* All Buttons */ 
button{
   font-family: var(--font-Regular);
   margin-top: 1.5rem;
   font-size: large;
   width: 250px;
   height: 40px;
   border-radius: 2px;
   background-color: transparent;
}

button:hover{
   box-shadow: 3px 4px var(--black);
   cursor:pointer;
   color: #1DB954;
}
button:focus{
    background-color: transparent;
}

@media (max-width: 600px){
    .name{
        font-size: large;
        margin-bottom: 2rem;
    }
    .header{
      gap: 0;
      justify-content: space-around;
      font-size: x-small;
      max-height: 100%;
    }
    .icon{
        max-width: 24px;
        max-height: 22px;
    }
    .home{
        font-size: x-small;
    }
    .menuDiv{
        font-size: xx-small;
        gap: 0.5rem;
    }
    button{
        width: 100%;
        font-size: x-small;
    }
}