@font-face {
    font-family: GFS_Didot;
    src: url(../GFS_Didot/GFSDidot-Regular.ttf);
}

* {
    box-sizing: border-box;
  }
  p{
    margin: 0;
  }
  :root{
    --font-Regular: GFS_Didot;
    --black: #191414;
    --green:#B7B7A4;
    --gray: #DDBEA9;
    --lightgray:#FFE8D6;
    --brown: #CB997E;
}
html,body{
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
    font-family: var(--font-Regular);
    /* font grows 1px for every 100px of viewport width */
    font-size: calc(16px + 0.4vw);
    /* leading grows along with font, */
    /* with an additional 0.1em + 0.5px per 100px of the viewport */
    line-height: calc(0.8em + 0.5vw);  
}


body{
    display: flex;
    font-family: var(--font-Regular);
}
/* Header */ 

.header{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    max-height: 100vh;
    font-family: var(--font-Regular);
    font-weight: bold;
    background-color: var(--green);
    color: whitesmoke;
}


.box{
    display: flex;
    flex-direction: column;
}

.name{
    color: #191414;
    align-self: center;
    font-size: calc(1.2em + 2vw);
}

.divider{
    display: flex;
    flex-direction: column;
}

 /* Content */
 .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-Regular);
    background-color: #f0ecead8;
    color: var(--black);
    max-height: 100vh;
 }


 .menuPage{
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    font-family: var(--font-Regular);
    background-color: #f0ecead8;
    color: var(--black);
 }
 .menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 }

 .menuItem{
    background-color: var(--green);
    border: var(--green) 4px solid;
    box-shadow: 10px 10px 0 -4px white,
    10px 10px var(--green);
    padding: 1rem;
    border-radius: 4px;
 }

 .learn{
    max-width: 200px;
    font-weight: bold;
    color: var(--black);
    border: transparent;
    border-bottom: var(--green) 3px solid;
 }
 .learn:hover{
    box-shadow: 3px 4px var(--green);
    cursor:pointer;
 }
 
 .home{
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    background-color: #f0ecead8;
 }


 h3{
    margin: 0;
 }

 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
 }

 .about-box{
    display: flex;
    flex-direction: column;
}

/* All Buttons */ 
button{
   font-family: var(--font-Regular);
   border: transparent;
   background-color: transparent;
   font-weight: bold;
   text-align: left;
   color: whitesmoke;
}

button:hover{
   box-shadow: 3px 4px white;
   cursor:pointer;
}
button:focus{
    background-color: transparent;
}

/* Mobile */
@media screen and (min-width: 320px) {
    /* Sidebar */
    .header{
        font-size: 14px;
        padding: 0.5em;
        gap: 1rem;
        
    }
    .name{

        font-size: 25px;
        margin-bottom: 1rem;
    }

    .box{
        align-self: center;
        font-weight: 100;
        font-size: 12px;
        line-height: normal;
    }
    .divider{
        gap: 1rem;
    }
    /* Home Page */ 
    .home{
        padding: 0.2rem;
        gap: 0.2rem;
    }
    .menuDiv{
        margin-bottom: 1rem;
        padding: 1rem;
     }
    /* Menu Page */ 
    .menuPage{
        padding: 0.5rem;
        gap: 1rem;
    }
    .menu{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        padding: 1rem;
        margin: 0;
        font-size: 12px;
     }
      /* About Page */ 
     .about{
        gap: 2rem;
        padding: 1rem;
     }
     .about-box{
        font-size: 12px;
        gap: 1rem;
     }
  
}

/* Tablet */
@media screen and (min-width: 680px) {
    body{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
    }
     /* Sidebar */
     .header{
        padding: 0.5em;
        gap: 1rem;
        
    }
    .name{
        font-size: 35px;
        margin-bottom: 1rem;
    }
    .box{
        align-self: center;
        font-weight: 100;
        font-size: 14px;
        line-height: normal;
    }
    .divider{
        gap: 1.5rem;
    }
    /* Home Page */ 
    .home{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        padding: 0.2rem;
        gap: 0.2rem;
    }
  /* Menu Page */ 
    .menu{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        padding: 1rem;
        font-size: 16px;
     }
    /* About Page */ 
    .about{
        gap: 1rem;
        padding: 1rem;
    }
    .about-box{
        font-size: 16px;
        gap: 1rem;
    }
    .about>img{
        width: 100%;
        height: 50%;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {
    body{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
    }
     /* Sidebar */
    .header{
        font-size: 18px;
    }
    .name{
        font-size: 50px;
    }
    .box{
        font-size: 18px
    }
    .home{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }

    .menu{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        padding: 1rem;
     }
    .about>img{
        width: 100%;
        height: 50%;
    }
    .about-box{
        font-size: 18px;
        gap: 1rem;
    }
}


  

